<characters-filter
  [charactersFilteredNumber]="charactersFilteredNumber"
  [showFilteredNumber]="showFilteredNumber"
  (filterResult)="handleFilter($event)"
  (filterReseted)="resetFilter()"
></characters-filter>

<characters-pages-handler
  [currentPage]="currentPage"
  [minPagesNumb]="minPagesNumb"
  [maxPagesNumb]="maxPagesNumb"
  [placeholder]="placeholder"
  [showNextButton]="showNextButton"
  [showPageNumber]="showPageNumber"
  [showPreviousButton]="showPreviousButton"
  (changePageNumber)="changePageNumber($event)"
></characters-pages-handler>

<ng-container *ngIf="showCards; else error">
  <div class="character-main__cards">
    <character-card
      *ngFor="let character of characters; trackBy: trackByFn"
      [character]="character"
      [statusGender]="statusGender"
      (showDetail)="goToCharacterDetail($event)"
      class="character-main__cards-card"
    ></character-card></div
></ng-container>

<ng-template #error> {{ errorText }} </ng-template>
