<div (click)="getCharacterDetail(character.id)" class="character-card">
  <img
    [src]="character.image"
    [alt]="character.name"
    class="character-card__img"
  />
  <span class="character-card__title">{{ character.name }}</span>
  <div class="character-card__info">
    <span>Status: {{ character.status }} </span>
    <span>Specie: {{ character.species }} </span>
    <span>Type: {{ character.type || "Not available" }} </span>
    <span>Gender: {{ character.gender }} </span>
  </div>
</div>
