.character-card {
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 16px;

  &__alive {
    border: 2px solid lightgreen;
    box-shadow: 10px 10px 5px lightgreen;
  }

  &__dead {
    border: 2px solid lightcoral;
    box-shadow: 4px 4px 5px lightcoral;
  }

  &__unknown {
    border: 2px solid lightslategrey;
    box-shadow: 4px 4px 5px lightslategrey;
  }

  &__img {
    padding: 12px 12px 0 12px;
  }

  &__title {
    display: flex;
    font-size: larger;
    font-weight: bolder;
    justify-content: center;
    padding: 12px;
  }

  &__info {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;

    &--isAliveSelected {
      color: lightgreen;
      font-size: x-large;
    }

    &--isDeadSelected {
      color: lightcoral;
      font-size: x-large;
    }

    &--isUnknownStatusSelected {
      color: lightslategrey;
      font-size: x-large;
    }

    &--isFemaleSelected {
      color: lightpink;
      font-size: x-large;
    }

    &--isMaleSelected {
      color: lightblue;
      font-size: x-large;
    }

    &--isGenderlessSelected {
      color: lightyellow;
      font-size: x-large;
    }

    &--isUnknownGenderSelected {
      color: lightsteelblue;
      font-size: x-large;
    }
  }
}
