.app {
  &__title {
    color: tomato;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  &__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    &-form {
      margin-bottom: 10px;
    }
  }
}
