.character-detail {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: lightcoral;
  }

  &__back-button {
    margin-bottom: 16px;
  }

  &__list {
    color: black;
    list-style: none;
    padding: 0;

    &-episodes {
      max-width: 300px;
    }
  }
}
