<div class="characters-filter">
  <h2 class="characters-filter__title">Character filter</h2>

  <form [formGroup]="form" class="characters-filter__form">
    <div class="characters-filter__form--column">
      <label
        class="characters-filter__form--label characters-filter__form--label-name"
        >Name:<input
          type="text"
          formControlName="name"
          class="characters-filter__form--input"
      /></label>
      <label>Status:</label>
      <label>
        <input
          type="radio"
          value="alive"
          formControlName="status"
        />Alive</label
      >

      <label>
        <input type="radio" value="dead" formControlName="status" />Dead</label
      >
      <label>
        <input
          type="radio"
          value="unknown"
          formControlName="status"
        />Unknown</label
      >
    </div>

    <div
      class="characters-filter__form--column characters-filter__form--species"
    >
      <label class="characters-filter__form--label"
        >Species:<input
          type="text"
          formControlName="species"
          class="characters-filter__form--input"
      /></label>

      <label class="characters-filter__form--label"
        >Type:<input
          type="text"
          formControlName="type"
          class="characters-filter__form--input"
      /></label>
    </div>

    <div class="characters-filter__form--column">
      <label class="characters-filter__form--label-gender">Gender:</label>
      <label>
        <input
          type="radio"
          value="female"
          formControlName="gender"
        />Female</label
      >

      <label>
        <input type="radio" value="male" formControlName="gender" />Male</label
      >

      <label>
        <input
          type="radio"
          value="genderless"
          formControlName="gender"
        />Genderless</label
      >

      <label>
        <input
          type="radio"
          value="unknown"
          formControlName="gender"
        />Unknown</label
      >
    </div>
  </form>

  <div class="characters-filter__footer">
    <button (click)="resetFilter()">Reset filters</button>
    <ng-container *ngIf="showFilteredNumber; else getNoCharacters">
      <ng-container *ngIf="charactersFilteredNumber">
        <span class="characters-filter__footer--text">
          You get
          <strong class="characters-filter__footer--number">{{
            charactersFilteredNumber
          }}</strong>
          characters</span
        >
      </ng-container>
    </ng-container>
    <ng-template #getNoCharacters>
      <span class="characters-filter__footer--text">You get no characters</span>
    </ng-template>
  </div>
</div>
